<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IRestaurantService" />
        <binding name="BasicHttpBinding_IReservationService" />
        <binding name="BasicHttpBinding_IPlaceService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64970/Services/RestaurantService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestaurantService"
        contract="RestaurantService.IRestaurantService" name="BasicHttpBinding_IRestaurantService" />
      <endpoint address="http://localhost:64970/Services/ReservationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservationService"
        contract="ReservationService.IReservationService" name="BasicHttpBinding_IReservationService" />
      <endpoint address="http://localhost:64970/Services/PlaceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPlaceService"
        contract="PlaceService.IPlaceService" name="BasicHttpBinding_IPlaceService" />
      <endpoint address="http://localhost:64970/Services/UserService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
        contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
    </client>
  </system.serviceModel>
</configuration>